
.btn-outline-primary:focus{
background-color: #0d6efd;
color: white;
box-shadow: none;
}
.btn-outline-primary:active:focus{
    box-shadow: none;
}
.btn-outline-primary:hover{
    background-color: #82b4ff;
}